h2
{
      display: block;
}

:root
{
      --primary-color : #004085;
      --blue-color : #337ab7;
      --dark-blue-color: #19375a;
      --white-color : white;
      --green-color: #14ac65;
      --dark-green-color: #08683b;
      --red-color: rgb(238, 28, 28);
      --dark-red-color: #b31515;
      --gray-color: #6c757d;
      --light-gray-color: #8f9ba5;
      --dark-yellow-color: #ffc107;
      --yellow-color: #ffc107c2;
      --black-color: black;
}

.sidenav 
{
      height: 100%;
      width: 200px;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #111;
      overflow-x: hidden;
      padding-top: 20px;
}
    
.sidenav a
{
      padding: 6px 6px 6px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
}
    
.sidenav a:hover
{
      color: #f1f1f1;
}

a.focus:link, a.focus:visited
{
      color: #f1f1f1;
}

.main 
{
      margin-left: 200px; /* Same as the width of the sidenav */
}
    
@media screen and (max-height: 450px) 
{
      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 18px;}
}