<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Component-Library</title>
      <link rel="stylesheet" href="/styles.css">
      <link rel="stylesheet" href="card.css">
</head>
<body>
      <div class="sidenav">
            <a href="/index.html">Introduction</a>
            <a href="/avatar/avatar.html">Avatar</a>
            <a href="/alert/alert.html">Alert</a>
            <a href="/badge/badge.html">Badge</a>
            <a href="/button/button.html">Button</a>
            <a href="#" class="focus">Card</a>
            <a href="/image/image.html">Image</a>
            <a href="/input/input.html">Input</a>
            <a href="/text-utilities/text-utilities.html">Text-Utilities</a>
            <a href="/list/list.html">List</a>
            <a href="/navigation/navigation.html">Navigation</a>
      </div>   
      <div class="main">
            <h2>Card Component in Component-Library</h2> 

            <h3>Card with badges</h3>
            <div class="card">
                <div>
                    <p class="badge">Trending</p>
                    <img src="sneakers-shoes-adidas-shoes.jpg" alt="img">
                </div>
                <div class="card-content">
                    <h2 class="item-name">Adidas Shoes</h2> 
                    <p class="item-description">Provides comfort</p>
                    
                    <div class="price">
                        <span class="item-price">₹3000</span>
                        <span class="discount">Discount: 40%</span>
                    </div>
                </div>              
                <button class="add-to-cart">Add to cart</button>
            </div>

            <h3>Card with dismiss</h3>

            <div class="card">
                <div>
                    <p class="badge">Trending </p>
                    <p class="dismiss-btn">X</p>
                    <img src="sneakers-shoes-adidas-shoes.jpg" alt="img">
                </div>
                <div class="card-content">
                    <h2 class="item-name">Adidas Shoes</h2> 
                    <p class="item-description">Provides comfort</p>
                    
                    <div class="price">
                        <span class="item-price">₹3000</span>
                        <span class="discount">Discount: 40%</span>
                    </div>
                </div>              
                <button class="add-to-cart">Add to cart</button>
            </div>

            <h3>Card with text overlay</h3>

            <div class="card">
                <div>
                    <div class="overlay-text">Out Of Stock</div>                 
                    <img class="overlay-img" src="sneakers-shoes-adidas-shoes.jpg" alt="img">
                </div>
                <div class="card-content">
                    <h2 class="item-name">Adidas Shoes</h2> 
                    <p class="item-description">Provides comfort</p>
                    
                    <div class="price">
                        <span class="item-price">₹3000</span>
                        <span class="discount">Discount: 40%</span>
                    </div>
                </div>              
                <button class="add-to-cart">Add to cart</button>
            </div>
            
            <h3>Text Only Card</h3>

            <div class="card">
                <div class="card-content">
                    <h2 class="item-name">Adidas Shoes</h2> 
                    <p class="item-description">Provides comfort</p>
                    
                    <div class="price">
                        <span class="item-price">₹3000</span>
                        <span class="discount">Discount: 40%</span>
                    </div>
                </div>              
                <button class="add-to-cart">Add to cart</button>
            </div>
 
            <h3>Horizontal Card</h3>

             <div class="card horizontal-card">
                <div>
                    <img src="sneakers-shoes-adidas-shoes.jpg" alt="img">
                </div>
                <div class="card-content">
                    <h2 class="item-name">Adidas Shoes</h2> 
                    <p class="item-description">Provides comfort</p>
                    
                    <div class="price">
                        <span class="item-price">₹3000</span>
                        <span class="discount">Discount: 40%</span>
                    </div>
                    <button class="add-to-cart">Add to cart</button>
                </div>              
            </div>

            <h3>Card with Shadow</h3>

            <div class="card">
                <div>
                    <p class="badge">Trending</p>
                    <img src="sneakers-shoes-adidas-shoes.jpg" alt="img">
                </div>
                <div class="card-content">
                    <h2 class="item-name">Adidas Shoes</h2> 
                    <p class="item-description">Provides comfort</p>
                    
                    <div class="price">
                        <span class="item-price">₹3000</span>
                        <span class="discount">Discount: 40%</span>
                    </div>
                </div>              
                <button class="add-to-cart">Add to cart</button>
            </div>
      </div>
</body>
</html>