<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Component-Library</title>
      <link rel="stylesheet" href="/styles.css">
      <link rel="stylesheet" href="button.css">
      <script src="https://kit.fontawesome.com/f4784eefa9.js" crossorigin="anonymous"></script>
</head>
<body>
      <div class="sidenav">
            <a href="/index.html">Introduction</a>
            <a href="/Components/avatar/avatar.html">Avatar</a>
            <a href="/Components/alert/alert.html">Alert</a>
            <a href="/Components/badge/badge.html">Badge</a>
            <a class="focus" href="#">Button</a>
            <a href="/Components/card/card.html">Card</a>
            <a href="/Components/image/image.html">Image</a>
            <a href="/Components/input/input.html">Input</a>
            <a href="/Componentstext-utilities/text-utilities.html">Text-Utilities</a>
            <a href="/Components/list/list.html">List</a>
            <a href="/Components/navigation/navigation.html">Navigation</a>
      </div>   
      <div class="main">
            <h2>Button Component in Component-Library</h2> 
            <h3>Primary Buttons</h3>
            <div class="VariantContainer">
                  <button class="btn primary-btn">Primary</button>    
                  <button class="btn secondary-btn">Secondary</button>    
                  <button class="btn danger-btn">Danger</button>    
                  <button class="btn btn-success">Success</button>    
                  <button class="btn btn-warning">Warning</button> 
            </div>
            <h3>Link Buttons</h3>
            <div class="VariantContainer">
                  <button class="btn primary-btn link-primary-btn"><a href="#">Hover-Link</a></button>
                  <button class="btn link-outline-btn outline-primary-btn"><a href="#">Hover-Link</a></button>      
            </div>
            <h3>Icon Buttons</h3>
            <div class="VariantContainer">
                  <button class="btn-icon"><i class="fa fa-home fa-large"></i></button>
                  <button class="btn-icon"><i class="fa-brands fa-github fa-large"></i></button>
                  <button class="btn-icon"><i class="fa-solid fa-code fa-large"></i></button>      
            </div>
            <h3>Icon Buttons with Text</h3>
            <div class="VariantContainer">
                  <button class="btn-icon"><i class="fa fa-home fa-large"></i> Home</button>
                  <button class="btn-icon"><i class="fa-brands fa-react fa-large"></i> React</button>
                  <button class="btn-icon"><i class="fa-brands fa-github fa-large"></i> Github</button>      
            </div>
            <h3>Floating Button</h3>
            <div class="VariantContainer">
                  <button class="float-action-btn">+</button>   
            </div>
      </div>
</body>
</html>