<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Component-Library</title>
      <link rel="stylesheet" href="/styles.css">
      <link rel="stylesheet" href="avatar.css">
</head>
<body>
      <div class="sidenav">
            <a href="/index.html">Introduction</a>
            <a class="focus" href="#">Avatar</a>
            <a href="/Components/alert/alert.html">Alert</a>
            <a href="/Components/badge/badge.html">Badge</a>
            <a href="/Components/button/button.html">Button</a>
            <a href="/Components/card/card.html">Card</a>
            <a href="/Components/image/image.html">Image</a>
            <a href="/Components/input/input.html">Input</a>
            <a href="/Components/text-utilities/text-utilities.html">Text-Utilities</a>
            <a href="/Components/list/list.html">List</a>
            <a href="/Components/navigation/navigation.html">Navigation</a>
      </div>   
      <div class="main">
            <h2>Avatar Component in Component-Library</h2> 
            <div class="Content">
      
                  <p>Avatars are user profile pictures, usually found in circular shapes. User can set any image as avatar as per user's need.</p>
      
                  <h3>Circle Avatar</h3>
                  <div class="VariantContainer">
                      <img class="avatar small" src="Profile_avatar_placeholder_large.png" alt="">
                      <img class="avatar medium" src="Profile_avatar_placeholder_large.png" alt="">
                      <img class="avatar large" src="Profile_avatar_placeholder_large.png" alt="">
                  </div>
      
                  <h3>Square Avatar</h3>
                  <div class="VariantContainer">
                      <img class="avatar-square square-small" src="Profile_avatar_placeholder_large.png" alt="">
                      <img class="avatar-square square-medium" src="Profile_avatar_placeholder_large.png" alt="">
                      <img class="avatar-square square-large" src="Profile_avatar_placeholder_large.png" alt="">
                  </div>

                  <h3>Oval Avatar</h3>
                  <div class="VariantContainer">
                        <img class="oval oval-small" src="Profile_avatar_placeholder_large.png" alt="">
                        <img class="oval oval-medium" src="Profile_avatar_placeholder_large.png" alt="">
                        <img class="oval oval-large" src="Profile_avatar_placeholder_large.png" alt="">
                  </div>
              </div>
      </div>
</body>
</html>