<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Component-Library</title>
      <link rel="stylesheet" href="/styles.css">
      <link rel="stylesheet" href="list.css">
</head>
<body>
      <div class="sidenav">
            <a href="/index.html">Introduction</a>
            <a href="/avatar/avatar.html">Avatar</a>
            <a href="/alert/alert.html">Alert</a>
            <a href="/badge/badge.html">Badge</a>
            <a href="/button/button.html">Button</a>
            <a href="/card/card.html">Card</a>
            <a href="/image/image.html">Image</a>
            <a href="/input/input.html">Input</a>
            <a href="/text-utilities/text-utilities.html">Text-Utilities</a>
            <a href="#" class="focus">List</a>
            <a href="/navigation/navigation.html">Navigation</a>
      </div>   
      <div class="main">
            <h2>List Component in Component-Library</h2> 
            <p>Lists are used in navigation bar, article page, dropdown menu etc.</p>
                        
            <h3>Ordered Lists</h3>
            <div class="list-container ordered-list">
                <ol>
                    <li>list Item1</li>
                    <li>list Item2</li>
                    <li>list Item3</li>
                </ol>
                <ol class="list-decimal-leading-zero">
                    <li>list Item1</li>
                    <li>list Item2</li>
                    <li>list Item3</li>
                </ol>
                <ol class="list-upperCase">
                    <li>list Item1</li>
                    <li>list Item2</li>
                    <li>list Item3</li>
                </ol>
                <ol class="list-lowerCase">
                    <li>list Item1</li>
                    <li>list Item2</li>
                    <li>list Item3</li>
                </ol>
                <ol class="list-upper-roman">
                    <li>list Item1</li>
                    <li>list Item2</li>
                    <li>list Item3</li>
                </ol>
                <ol class="list-lower-roman">
                    <li>list Item1</li>
                    <li>list Item2</li>
                    <li>list Item3</li>
                </ol>
            </div>

            <h3>Unordered Lists</h3>
            <div class="list-container unordered-list">
                <ul class="list-circle">
                    <li>Item1</li>
                    <li>Item2</li>
                    <li>Item3</li>
                </ul>
                <ul class="list-square">
                    <li>Item1</li>
                    <li>Item2</li>
                    <li>Item3</li>
                </ul>
                <ul>
                    <li>Item1</li>
                    <li>Item2</li>
                    <li>Item3</li>
                </ul>
                <ul class="list-none">
                    <li>Item1</li>
                    <li>Item2</li>
                    <li>Item3</li>
                </ul>
            </div>

            <h3>Inline Lists</h3>
            <div class="list-container">
                <ul class="list-inline">
                    <li>Inline List</li>
                    <li>Inline List</li>
                    <li>Inline List</li>
                </ul>
            </div>   
      </div>
</body>
</html>