<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Component-Library</title>
      <link rel="stylesheet" href="/styles.css">
      <link rel="stylesheet" href="text-utilities.css">
</head>
<body>
      <div class="sidenav">
            <a href="/">Introduction</a>
            <a href="/avatar/avatar.html">Avatar</a>
            <a href="/alert/alert.html">Alert</a>
            <a href="/badge/badge.html">Badge</a>
            <a href="/button/button.html">Button</a>
            <a href="/card/card.html">Card</a>
            <a href="/image/image.html">Image</a>
            <a href="/input/input.html">Input</a>
            <a href="#"  class="focus">Text-Utilities</a>
            <a href="/list/list.html">List</a>
            <a href="/navigation/navigation.html">Navigation</a>
      </div>   
      <div class="main">
            <h2>Text-Utilities Component in Component-Library</h2> 
            <h3>Heading</h3>
            <div class="headings-container">
                <h1>H1 - Heading</h1>
                <h2>H2 - Heading</h2>
                <h3>H3 - Heading</h3>
                <h4>H4 - Heading</h4>
                <h5>H5 - Heading</h5>
                <h6>H6 - Heading</h6>
            </div>

            <h3>Small Text: Paragraph and Span</h3>
            <div class="content-container">
                <p>P - Paragraph</p>
                <span> Span Tag </span>
            </div>

            <h3>Text Alignment</h3>
            <div class="pragraph-container">
                <p class="align-text-left">This is text left example.</p>
                <p class="align-text-center">This is text center example.</p>
                <p class="align-text-right">This is text right example.</p>
            </div>
      </div>
</body>
</html>