.alert
{
      position: relative;
      width: 50%;
      padding: 0.75rem 1.25rem;
      margin-bottom: 1rem;
      border: 1px solid transparent;
      border-radius: 0.25rem;
}

.primary-alert
{
      color: var(--primary-color);
      background-color: var(--light-blue-color);
      border-color: var(--light-blue-color);
}

.secondary-alert
{
      color: var(--secondary-color);
      background-color: var(--secondary-btn-color);
      border-color: var(--secondary-btn-color);
}

.success-alert
{
      color: var(--success-button-color);
      background-color: var(--success-color);
      border-color: var(--success-color);
}

.danger-alert
{
      color: var(--danger-color);
      background-color: var(--danger-light-color);
      border-color: var(--danger-light-color);
}

.warning-alert
{
      color: var(--warning-color);
      background-color: var(--light-warning-color);
      border-color: var(--light-warning-color);
}

.outline-primary-alert
{
      color: var(--primary-color);
      border-color: var(--primary-color);
}

.outline-primary-alert:hover
{
      background-color: var(--primary-color);
      color: var(--white-color);
}

.outline-secondary-alert
{
      color: var(--secondary-color);
      border-color: var(--secondary-color);
}

.outline-secondary-alert:hover
{
      color: var(--white-color);
      background-color: var(--secondary-color);
      border-color: var(--secondary-btn-color);
}

.outline-success-alert
{
      color: var(--success-button-color);
      border-color: var(--success-button-color);
}

.outline-success-alert:hover
{
      color: var(--white-color);
      background-color: var(--success-button-color);
      border-color: var(--success-color);
}

.outline-danger-alert
{
      color: var(--red-color);
      border-color: var(--red-color);
}

.outline-danger-alert:hover
{
      color: var(--white-color);
      background-color: var(--red-color);
      border-color: var(--red-color);
}

.outline-warning-alert
{
      color: var(--warning-color);
      border-color: var(--warning-color);
}

.outline-warning-alert:hover
{
      color: var(--white-color);
      background-color: var(--warning-color);
      border-color: var(--warning-color);
}